#### Q1. Create one variable containing following type of data:

#### (i)	string

In [1]:
a = "hello world"

In [2]:
a #variable a hold the string value hello world

'hello world'

#### (ii)	list

In [3]:
b = [1,2,3,45.6,"pwskills",True,[1,2,3,4]]

In [4]:
b #variable b hold the elements of a list of different data types

[1, 2, 3, 45.6, 'pwskills', True, [1, 2, 3, 4]]


#### (iii)	float

In [5]:
c = 123.4

In [6]:
c # variable c hold the floating point digit (digits that contains decimal)

123.4

#### (iv)	tuple

In [7]:
d =(1,2,3,45.6,"pwskills",True,[1,2,3,4])

In [8]:
d # variable d holds the elements of a tuple

(1, 2, 3, 45.6, 'pwskills', True, [1, 2, 3, 4])

#### Q2. Given are some following variables containing data:(i)	var1 = ‘ ‘ (ii)	var2 = ‘[ DS , ML , Python]’ (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] (iv)	var4 = 1 What will be the data type of the above given variable.

answer---
i)  String
ii) String
iii)List
iv) Integer

#### Q3. Explain the use of the following operators using an example: (i)	/ (ii)	%  (iii)	// (iv)	**

answer---
i) / -- this is a division operator which is used to divide two numbers and it return the quotient as a floating point number
For example.

In [9]:
5/2 # it returns 2.5 as quotient , a floating point number

2.5

ii) % -- this is a modulus operator which divides two numbers and return remainder as the final answer.
For Example.

In [10]:
5%2 # return 1 as the remainder

1

iii) // -- this is a floor division operator used to divide two numbers and return the quotient as a integer
For Example.

In [11]:
5//2 # return 2 as the quotient

2

iv) ** -- this is a exponential operator used to find the power of certain number.
For Example.

In [12]:
2**3 # return 8 as the power os 2*2*2

8

#### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [13]:
l = [1,2,3,4,"pwskill",23.4,[10,20,30],True,False,"coding"]

In [14]:
len(l)

10

In [15]:
print("elements with their datatype are:\n")
for i in l:
    print(f'element-- {i} --datatype = {type(i)} \n')

elements with their datatype are:

element-- 1 --datatype = <class 'int'>

element-- 2 --datatype = <class 'int'>

element-- 3 --datatype = <class 'int'>

element-- 4 --datatype = <class 'int'>

element-- pwskill --datatype = <class 'str'>

element-- 23.4 --datatype = <class 'float'>

element-- [10, 20, 30] --datatype = <class 'list'>

element-- True --datatype = <class 'bool'>

element-- False --datatype = <class 'bool'>

element-- coding --datatype = <class 'str'>

#### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [11]:
a = int(input("enter the number a:"))
b = int(input("enter the number b:"))
count = 0
x = a
y = b
while(a%b==0):
    r = a // b
    a = r
    count+=1
else:
    print(f'{x} divide by {y} count is {count}')

enter the number a: 3
enter the number b: 2

3 divide by 2 count is 0

####  Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [33]:
l = []
e = 25
for i in range(e):
    x = int(input("Enter element {}: ".format(i+1)))
    if(x%3==0):
        print(f'*******************{x} is divided by 3')
    l.append(x)  # for adding the element to the list

print("The elements in the list are:", l)

Enter element 1:  1
Enter element 2:  2
Enter element 3:  3

*******************3 is divided by 3

Enter element 4:  4
Enter element 5:  5
Enter element 6:  6

*******************6 is divided by 3

Enter element 7:  7
Enter element 8:  8
Enter element 9:  9

*******************9 is divided by 3

Enter element 10:  10
Enter element 11:  11
Enter element 12:  12

*******************12 is divided by 3

Enter element 13:  13
Enter element 14:  14
Enter element 15:  15

*******************15 is divided by 3

Enter element 16:  16
Enter element 17:  17
Enter element 18:  18

*******************18 is divided by 3

Enter element 19:  19
Enter element 20:  20
Enter element 21:  21

*******************21 is divided by 3

Enter element 22:  22
Enter element 23:  23
Enter element 24:  24

*******************24 is divided by 3

Enter element 25:  25

The elements in the list are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

#### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable datatype: they are those datatypes in which we can change the elements at the particular indexe.
For Example : List comes under this because we can change its elements at the particular indexes and this can be shown below.

In [34]:
l = [1,2,3,4]

In [35]:
l[0] = 100

In [37]:
l #here the element at index zero is changes from 1 to 100

[100, 2, 3, 4]

Immutable Datatype: They are those data types whose elements do not change at the particular index.
For Example: String comes under this because we cannot change is characters in between and this can be shown below.

In [38]:
s = "pwskills"

In [41]:
s[2] # we can access the character in string

's'

In [42]:
s[2] = 'x' # but can't change the character as shown by the following line of code

TypeError: 'str' object does not support item assignment